* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
header{
  background-color: aliceblue;
}
header section {
  display: flex;
}
header section figure{
  width: 100%;
  
}
header section figure img {
  width: 90%;
  margin: 5%;
}
header section figcaption {
  width: 100%;
  margin: auto;
}
header section figcaption h1 {
  font-size: 250%;
  text-align: center;
  margin-bottom: 3%;
}
header section figcaption h2 {
  text-align: center;
}
main {
  padding-top: 1%;
  background-color:aliceblue;
}


main section h3 {
  text-align: center;
  margin: 2%;
  background-color: rgb(11, 7, 108);
  color: white;
}
main section li{
    margin-left: 3%;
    padding: 0.5%;
    list-style: none;
}
main section h4{
    margin-left: 3%;
    padding: 0.5%;
    
}
footer{
  background-color: aliceblue;
  padding-top: 2%;
  padding-bottom: 3%;
}

footer ul {
  margin: 0 2%;
  padding: 0.5%;
  list-style: none;
  display: flex;
  text-align: center;
}
footer ul li{
  margin: auto;
}

footer ul li a{
  text-decoration: none;
  color: rgb(11, 7, 108);
}
