* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
header,
main,
footer {
  animation: text-appear 0.3s ease-in-out;
  color: rgb(11, 7, 108);
}
@keyframes text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0 10%;
  background-color: aliceblue;
}
article p {
  margin: 2% 10%;
  text-align: justify;
  font-size: large;
  font-weight:bold;
}
section a{
  text-decoration: none;
}



main {
  padding-top: 1%;
  background-color: aliceblue;
}

main section h3 {
  text-align: center;
  margin: 2%;
  background-color: rgb(11, 7, 108);
  color: white;
  padding: 1%;
  font-size: 150%;
}
#cv{
  margin-bottom: 0%;
}
#cv:hover{
  background-color: rgb(68, 71, 251);
  transition: background-color 0.3s ease-in;
}


footer {
  background-color: aliceblue;
  padding-top: 2%;
  padding-bottom: 3%;
}

footer ul {
  margin: 0 2%;
  padding: 0.5%;
  list-style: none;
  display: flex;
  text-align: center;
}
footer ul li {
  margin: auto;
}

footer ul li a {
  text-decoration: none;
  color: rgb(11, 7, 108);
}
footer ul li a:hover {
  color: rgb(68, 71, 251);
  transition: background-color 0.3s ease-in;
}

@media (max-width: 1050px) {
  body {
    background-color: aliceblue;
    margin: 0;
  }

  main section h3 {
    text-align: center;
    margin: 2%;
    background-color: rgb(11, 7, 108);
    color: white;
    cursor: pointer;
    padding: 1%;
    font-size: 120%;
  }
}
@media (max-width: 800px) {
  body {
    background-color: aliceblue;
    margin: 0;
  }

  main section h3 {
    text-align: center;
    margin: 2%;
    background-color: rgb(11, 7, 108);
    color: white;
    cursor: pointer;
    padding: 1%;
    font-size: 120%;
  }
}
@media (max-width: 520px) {
  
  body {
    background-color: aliceblue;
    margin: 0;
  }
  main {
    padding-top: 1%;
    background-color: aliceblue;
  }

  main section h3 {
    text-align: center;
    margin: 2%;
    background-color: rgb(11, 7, 108);
    color: white;
    padding: 1%;
  }
  main section h3:hover {
    background-color: rgb(68, 71, 251);
    transition: background-color 0.3s ease-in;
  }
  
  footer ul li a span {
    display: none;
  }
}
